.warning-message {
  display: none;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffcccb; /* Light red background color */
  padding: 10px;
  border: 1px solid #ff704d; /* Darker red border */
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
body {
  background-color: aliceblue !important;
}
.feature-box {
  background-color: lavender;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  margin-bottom: 20px;
}
.mb-4 {
  font-family: serif !important;
}

/* Style for the autocomplete suggestions */
.suggestion {
  padding: 8px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

.suggestions-wrapper {
  position: absolute;
  width: 81%;
  max-height: 200px; /* Set the max height for the scrollable div */
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.map-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------------------------------------------------------ */
.runs-on-header,
.runs-on-cell {
  max-width: 120px; /* Adjust the width as needed */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden;
  text-overflow: ellipsis; /* Show ellipsis (...) if content overflows */
}

/* Add this CSS for responsive design */
@media (max-width: 768px) {
  table {
    font-size: 14px;
  }

  .modal-dialog {
    max-width: 90%;
    margin: 1rem auto;
  }
}
